# Виртуальное окружение
venv/
env/
.venv/
.env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Файлы с переменными окружения
.env
.env.local

# Логи
*.log
logs/
test_execution.log

# Отчеты и результаты тестов
reports/
allure-results/
allure-report/
screenshots/

# Временные файлы
*.tmp
*.bak
*.swp

# Файлы IDE
.idea/
.vscode/
*.iml
*.code-workspace

# Файлы ОС
.DS_Store
Thumbs.db

# Кэш и временные файлы
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/ 